In [ ]:
#########################
## EXAMPLE: combinations of print and return
#########################

In [5]:
def is_even_with_return( i ):
    """
    Input: i, a positive int
    Returns True if i is even, otherwise False
    """

    print('with return')
    remainder = i % 2
    return remainder == 0

is_even_with_return(3)

with return

False

In [3]:
print(is_even_with_return(3))

with return
False

In [8]:
def is_even_without_return( i ):
    """
    Input: i, a positive int
    Does not return anything
    """
    print('without return')
    remainder = i % 2

is_even_without_return(3)

without return

In [9]:
print(is_even_without_return(3) )

without return
None

In [ ]:
#########################
## EXAMPLE: applying functions to repeat same task many times
#########################

In [10]:
# Simple is_even function definition
def is_even( i ):
    """
    Input: i, a positive int
    Returns True if i is even, otherwise False
    """
    remainder = i % 2
    return remainder == 0

In [11]:
# Use the is_even function later
print("All numbers between 0 and 20: even or not")
for i in range(20):
    if is_even(i):
        print(i, "even")
    else:
        print(i, "odd")

All numbers between 0 and 20: even or not
0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd

In [ ]:

#########################
## EXAMPLE: functions as arguments
#########################

In [12]:
def func_a():
    print('inside func_a')

In [13]:
def func_b(y):
    print('inside func_b')
    return y

In [14]:
def func_c(z):
    print('inside func_c')
    return z()

print(func_a())
print(5+func_b(2))
print(func_c(func_a))

inside func_a
None
inside func_b
7
inside func_c
inside func_a
None

In [ ]:
#########################
## EXAMPLE: returning function objects
#########################

In [15]:
def f():
    def x(a, b):
        return a+b
    return x

# the first part, f(), returns a function object
# then apply that function with parameters 3 and 4
val = f()(3,4)
print(val)

7

In [ ]:

#########################
## EXAMPLE: shows accessing variables outside scope
#########################

In [16]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [18]:
def g(y):
    print(z)
    print(z+1)
z = 5
g(z)
print(z)

5
6
5

In [25]:
def h(y):
    pass
    #print(x)
    x += 1 #leads to an error without line `global x` inside h
x = 5
h(x)
print(x)

UnboundLocalError: ignored

In [26]:
#########################
## EXAMPLE: hader scope example from slides
#########################

In [29]:
def g(x):
    def h():
      print("Inside h()")
      x = 'abc'
    x = x + 1
    print('in g(x): x =', x)
    h()
    return x

x = 3
z = g(x)
print("z: ", z)

in g(x): x = 4
Inside h()
z:  4

In [31]:
#########################
## EXAMPLE: complicated scope
#########################

In [30]:
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

In [32]:
def g(x):
    def h(x):
        x = x+1
        print("in h(x): x = ", x)
    x = x + 1
    print('in g(x): x = ', x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x = ', x)
print('in main program scope: z = ', z)

in g(x): x =  4
in h(x): x =  5
in main program scope: x =  3
in main program scope: z =  4