In [ ]:
#########################
## EXAMPLE: returning a tuple
#########################

In [55]:
def quotient_and_remainder(x, y):
    q = x // y
    r = x % y
    return (q, r)

(quot, rem) = quotient_and_remainder(5,3)
print(quot)
print(rem)

1
2

In [ ]:
#########################
## EXAMPLE: iterating over tuples
#########################

In [57]:
def get_data(aTuple):
    """
    aTuple, tuple of tuples (int, string)
    Extracts all integers from aTuple and sets
    them as elements in a new tuple.
    Extracts all unique strings from aTuple
    and sets them as elements in a new tuple.
    Returns a tuple of the minimum integer, the
    maximum integer, and the number of unique strings
    """
    nums = ()    # empty tuple
    words = ()
    for t in aTuple:
        # concatenating with a singleton tuple
        nums = nums + (t[0],)
        # only add words haven't added before
        if t[1] not in words:
            words = words + (t[1],)
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return (min_n, max_n, unique_words)

In [58]:
test = ((1,"a"),(2, "b"),
        (1,"a"),(7,"b"))
(a, b, c) = get_data(test)
print("a:",a,"b:",b,"c:",c)

a: 1 b: 7 c: 2

In [59]:
# apply to any data you want!
tswift = ((2014,"Katy"),
          (2014, "Harry"),
          (2012,"Jake"),
          (2010,"Taylor"),
          (2008,"Joe"))
(min_year, max_year, num_people) = get_data(tswift)
print("From", min_year, "to", max_year, \
        "Taylor Swift wrote songs about", num_people, "people!")

From 2008 to 2014 Taylor Swift wrote songs about 5 people!

In [ ]:
#########################
## EXAMPLE: sum of elements in a list
#########################

In [52]:
def sum_elem_method1(L):
  total = 0
  for i in range(len(L)):
      total += L[i]
  return total

In [53]:
def sum_elem_method2(L):
    total = 0
    for i in L:
        total += i
    return total

In [54]:
print(sum_elem_method1([1,2,3,4]))
print(sum_elem_method2([1,2,3,4]))

10
10

In [24]:
#########################
## EXAMPLE: various list operations
## put print(L) at different locations to see how it gets mutated
#########################

In [29]:
L1 = [2,1,3]
L2 = [4,5,6]
L3 = L1 + L2
L1.extend([0,6])
L1

[2, 1, 3, 0, 6]

In [30]:
L3.extend([0,6])
L3

[2, 1, 3, 4, 5, 6, 0, 6]

In [40]:
L = [2,1,3,6,3,7,0]
L.remove(2)
L.remove(3)
L

[1, 6, 3, 7, 0]

In [41]:
del(L[1])
L

[1, 3, 7, 0]

In [42]:
L.pop()
L

[1, 3, 7]

In [43]:
s = "I<3 cs"
print(list(s))
print(s.split('<'))

['I', '<', '3', ' ', 'c', 's']
['I', '3 cs']

In [44]:
L = ['a', 'b', 'c']
print(''.join(L))
print('_'.join(L))

abc
a_b_c

In [45]:
L=[9,6,0,3]
print(sorted(L))

[0, 3, 6, 9]

In [48]:
print(L.sort())
print(L)

None
[0, 3, 6, 9]

In [21]:
#########################
## EXAMPLE: aliasing
#########################

In [22]:
a = 1
b = a
print(a)
print(b)

1
1

In [23]:
warm = ['red', 'yellow', 'orange']
hot = warm
hot.append('pink')
print(hot)
print(warm)

['red', 'yellow', 'orange', 'pink']
['red', 'yellow', 'orange', 'pink']

In [ ]:
#########################
## EXAMPLE: cloning
#########################

In [20]:
cool = ['blue', 'green', 'grey']
chill = cool[:] #list(cool)/copy.copy(cool) # for dictionary dict(dictionary)
chill.append('black')
print(chill)
print(cool)

['blue', 'green', 'grey', 'black']
['blue', 'green', 'grey']

In [ ]:
#########################
## EXAMPLE: sorting with/without mutation
#########################

In [17]:
warm = ['red', 'yellow', 'orange']
sortedwarm = warm.sort()
print(warm)
print(sortedwarm)

['orange', 'red', 'yellow']
None

In [19]:
my_list = [3, 1, 2]
my_list.sort()  # Sorts the list in-place
print(my_list)

[1, 2, 3]

In [18]:

cool = ['grey', 'green', 'blue']
sortedcool = sorted(cool)
print(cool)
print(sortedcool)

['grey', 'green', 'blue']
['blue', 'green', 'grey']

In [ ]:
#########################
## EXAMPLE: lists of lists of lists...
#########################

In [15]:
warm = ['yellow', 'orange']
hot = ['red']
brightcolors = [warm]
brightcolors.append(hot)
print(brightcolors)

[['yellow', 'orange'], ['red']]

In [16]:
hot.append('pink')
print(hot)
print(brightcolors)

['red', 'pink']
[['yellow', 'orange'], ['red', 'pink']]

In [ ]:

###############################
## EXAMPLE: mutating a list while iterating over it
###############################

In [11]:
def remove_dups(L1, L2):
    for e in L1:
        if e in L2:
            L1.remove(e)

In [12]:
def remove_dups_new(L1, L2):
    L1_copy = L1[:]
    for e in L1_copy:
        if e in L2:
            L1.remove(e)

In [13]:
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
remove_dups(L1, L2)
print(L1, L2)

[2, 3, 4] [1, 2, 5, 6]

In [14]:
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
remove_dups_new(L1, L2)
print(L1, L2)

[3, 4] [1, 2, 5, 6]

In [ ]:
###############################
## EXERCISE: Test yourself by predicting what the output is and
##           what gets mutated then
###############################

In [1]:
cool = ['blue', 'green']
warm = ['red', 'yellow', 'orange']
print(cool)
print(warm)

['blue', 'green']
['red', 'yellow', 'orange']

In [2]:
colors1 = [cool]
print(colors1)
colors1.append(warm)
print('colors1 = ', colors1)

[['blue', 'green']]
colors1 =  [['blue', 'green'], ['red', 'yellow', 'orange']]

In [3]:
colors2 = [['blue', 'green'],
          ['red', 'yellow', 'orange']]
print('colors2 =', colors2)

colors2 = [['blue', 'green'], ['red', 'yellow', 'orange']]

In [4]:
warm.remove('red')
print('colors1 = ', colors1)
print('colors2 =', colors2)

colors1 =  [['blue', 'green'], ['yellow', 'orange']]
colors2 = [['blue', 'green'], ['red', 'yellow', 'orange']]

In [5]:
for e in colors1:
    print('e =', e)

e = ['blue', 'green']
e = ['yellow', 'orange']

In [6]:
for e in colors1:
    if type(e) == list:
        for e1 in e:
            print(e1)
    else:
        print(e)

blue
green
yellow
orange

In [7]:
flat = cool + warm
print('flat =', flat)

flat = ['blue', 'green', 'yellow', 'orange']

In [8]:
print(flat.sort())
print('flat =', flat)

None
flat = ['blue', 'green', 'orange', 'yellow']

In [9]:
new_flat = sorted(flat, reverse = True)
print('flat =', flat)
print('new_flat =', new_flat)

flat = ['blue', 'green', 'orange', 'yellow']
new_flat = ['yellow', 'orange', 'green', 'blue']

In [10]:
cool[1] = 'black'
print(cool)
print(colors1)

['blue', 'black']
[['blue', 'black'], ['yellow', 'orange']]